@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.roboto{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


 @keyframes slide {
      0% {
        transform: translateX(0%);
      }
      25% {
        transform: translateX(-100%);
      }
      50% {
        transform: translateX(-200%);
      }
      75% {
        transform: translateX(-300%);
      }
      100% {
        transform: translateX(0%);
      }
    }

    .animate-slide {
      animation: slide 20s infinite;
    }

    .container-1{
        padding: 0px 0px 20px 0px;
    }